<!DOCTYPE html>
<footer>
    <br />
    <br />
    <p>
        POKEMON<br />
        Gotta Catch 'Em All
    </p>
    <br>
    <div class="social-icons">
        <a href="https://github.com/D1zputed" target="_blank" class="icon-link">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.facebook.com/jofliasaph16/" target="_blank" class="icon-link">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/jofliasaph/" target="_blank" class="icon-link">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
    <p>
        2023 D1zputed. All Rights Reserved.
    </p>
</footer>
</html>